*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/.idea/caches/
/.idea/codeStyles/
/app/.cxx/
/app/.cxx/cmake/
/.idea/caches/build_file_checksums.ser
/.idea/modules.xml
/app/build/
/androidutils/.cxx/
/androidutils/build/
